
<%= form_with(model: employee, local: true, html: {name: "empForm"}) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="form-group col-md-3">
        <%= form.label :title %>
        <%= form.text_field(:title, id: :employee_title,
                            required: true, :placeholder=>"Mr/Mrs/Miss") %>
      </div>

      <div class="form-group col-md-3">
        <%= form.label :empid %>
        <%= form.number_field(:empid, 
                              required: true) %>
      </div>

      <div class="col-md-2 form-group">
        <%= form.label :designation %><br/>
        <%= form.select :designation, options_for_select(designation), :prompt=>"Select"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 form-group">
        <%= form.label :firstname %>
        <%= form.text_field :firstname,required: true,
                            :placeholder=>"First Name" %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :midname %>
        <%= form.text_field :midname,
                            :placeholder=>"Middle Name" %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :lastname %>
        <%= form.text_field :lastname, :placeholder=>"Last Name" %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3 form-group">
        <%= form.label :nationality %><br/>
        <%= form.text_field :nationality, required: true,
                            :placeholder=>"nationality"  %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :homenumber %>
        <%= form.text_field :homenumber,required: true,
                            :placeholder =>"Home number" %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :mobile %><br/>
        <%= form.telephone_field :mobile, required: true,
                                 :placeholder=>"Mobile number" %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-3 form-group">
        <%= form.label :city %><br/>
        <%= form.text_field :city, required: true,
                            :placeholder=>"City"  %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :state %>
        <%= form.text_field :state,required: true,
                            :placeholder =>"state" %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :pin %><br/>
        <%= form.telephone_field :pin, required: true,
                                 :placeholder=>"Pin Code" %>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-3 form-group">
        <%= form.label :address %><br/>
        <%= form.text_field :address, required: true,
                                 :placeholder=>"Address" %>

      </div>
      <div class="col-md-3 form-group">
       <%= form.label :gender %></br>
       <%= form.select :gender, [["Male", 1], ["Female", 2]], :prompt=>"Gender" %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :marital %><br/>
        <%= form.select :marital, options_for_select(['Married','Unmarried']), :prompt=>"Select"%>
      </div>
     
    </div>

    <div class="row">
      <div class="col-md-3 form-group">
        <%= form.label :email %>
        <%= form.text_field :email, required: true,
                            :placeholder=>"Email"  %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :salary %>
        <%= form.text_field :salary, :placeholder=>"salary",
                            required: true %>
      </div>

      <div class="col-md-3 form-group">
        <%= form.label :bloodtype %><br/>
        <%= form.select :bloodtype, options_for_select(blood), :prompt=>"Blood Group"%>
      </div>
    </div>

    <div class="row">

       <div class="col-md-5 form-group">
        <%= form.label :joined_at %><br/>
        <%= form.date_select :joined_at %>
      </div>

      <div class="col-md-5 form-group">
        <%= form.label :birth_date %><br/>
        <%= form.date_select :birth_date %>
      </div>
    </div>

  <div class="actions text-center">
    <%= form.submit "Submit", :class=>"btn btn-primary"%>
  </div>
  <span></span>
<% end %>
