
<%= form_with(model: employee, local: true, html: {name: "empForm"}) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td class="col-md-3">
      <%= form.label :title %>
    </td>
    <td class="col-md-3">
      <%= form.text_field(:title, id: :employee_title, name: "empTitle", "ng-model": "empTitle", required: true) %>
      <span ng-show="empForm.empTitle.$touched && empForm.empTitle.$invalid">The Title is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :empid %>
    </td>
    <td class="col-md-3">
      <%= form.number_field(:empid, id: :employee_empid, name: "empId", "ng-model": "empId", required: true) %>
      <span ng-show="empForm.empId.$touched && empForm.empId.$invalid">The Id is required.</span>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :firstname %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :firstname, id: :employee_firstname, name: "empName", "ng-model": "empName", required: true %>
      <span ng-show="empForm.empName.$touched && empForm.empName.$invalid">The name is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :midname %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :midname, id: :employee_midname %>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :lastname %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :lastname, id: :employee_lastname, name: "empLastname", "ng-model": "empLastname", required: true %>
      <span ng-show="empForm.empLastname.$touched && empForm.empLastname.$invalid">The Last name is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :bloodtype %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :bloodtype, id: :employee_bloodtype %>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :nationality %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :nationality, id: :employee_nationality, name: "empNationality", "ng-model": "empNationality", required: true  %>
      <span ng-show="empForm.empNationality.$touched && empForm.empNationality.$invalid">The Nationality is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :address %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :address, id: :employee_address, name: "empAddress", "ng-model": "empAddress", required: true %>
      <span ng-show="empForm.empAddress.$touched && empForm.empAddress.$invalid">The Address is required.</span>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :city %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :city, id: :employee_city, name: "empCity", "ng-model": "empCity", require: true %>
      <span ng-show="empForm.empCity.$touched && empForm.empCity.$invalid">The City is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :state %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :state, id: :employee_state, name: "empState", "ng-model": "empState", required: true %>
      <span ng-show="empForm.empState.$touched && empForm.empState.$invalid">The State is required.</span>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :pin %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :pin, id: :employee_pin %>
    </td>
    <td class="col-md-3">
      <%= form.label :homenumber %>
    </td>
    <td class="col-md-3">
      <%= form.number_field :homenumber, id: :employee_homenumber %>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :mobile %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :mobile, id: :employee_mobile, name: "empMobile", "ng-model": "empMobile", required: true %>
      <span ng-show="empForm.empMobile.$touched && empForm.empMobile.$invalid">The Mobile No. is Required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :email %>
    </td>
    <td class="col-md-3">
      <%= form.email_field :email, id: :employee_email, name: "empEmail", "ng-model": "empEmail", required: true %>
      <span ng-show="empForm.empEmail.$touched && !empForm.empEmail.$invalid">The Email is required.</span>
      <span ng-hide="empForm.empEmail.$valid && empForm.empEmail.$lenght"></span>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :joined_at %>
    </td>
    <td class="col-md-3">
      <%= form.date_select :joined_at, id: :employee_joined_at %>
    </td>
    <td class="col-md-3">
      <%= form.label :birth_date %>
    </td>
    <td class="col-md-3">
      <%= form.date_select :birth_date, id: :employee_birth_date %>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <%= form.label :gender %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :gender, id: :employee_gender, name: "empGender", "ng-model": "empGender", required: true %>
      <span ng-show="empForm.empGender.$touched && empForm.empGender.$invalid">The gender is required.</span>
    </td>
    <td class="col-md-3">
      <%= form.label :marital %>
    </td>
    <td class="col-md-3">
      <%= form.text_field :marital, id: :employee_marital %>
    </td>
  </tr>

  <div class="actions">
    <%= form.submit "Create Employee", :class=>"btn btn-primary"%>
  </div>
<% end %>
