<%= link_to 'New Employee', new_employee_path %>

<h2 class="text-center">Employees <hr/></h2>

<table class="table">
  <thead>
    <tr>

      <th>Employee Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Joined at</th>
      <th>Birth date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.fullname %></td>
        <td><%= employee.email %></td>
        <td><%= employee.mobile %></td>
        <td><%= employee.address %></td>
        <td><%= employee.city %></td>
        <td><%= employee.state %></td>
        <td><%= employee.joined_at %></td>
        <td><%= employee.birth_date %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

