<div class="text-center">
  <h2 class="text-center">Welcome to Employee Details <hr/></h2>
</div>
  <%= link_to 'Edit', edit_employee_path(@employee) %> |
  <%= link_to 'Back', '/' %>
<table>
  <tr>
    <td class="col-md-3">
      <strong>Title:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.title %>
    </td>
    <td class="col-md-3">
      <strong>Empid:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.empid %>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">
      <strong>Firstname:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.firstname %>
    </td>
    <td class="col-md-3">
      <strong>Midname:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.midname %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Lastname:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.lastname %>
    </td>
    <td class="col-md-3">
      <strong>Bloodtype:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.bloodtype %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Nationality:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.nationality %>
    </td>
    <td class="col-md-3">
      <strong>City:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.city %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>State:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.state %>
    </td>
    <td class="col-md-3">
      <strong>Pin:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.pin %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Homenumber:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.homenumber %>
    </td>
    <td class="col-md-3">
      <strong>Mobile:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.mobile %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Email:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.email %>
    </td>
    <td class="col-md-3">
      <strong>Joined at:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.joined_at %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Birth date:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.birth_date %>
    </td>
    <td class="col-md-3">
      <strong>Gender:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.gender %>
    </td>
  </tr>
  <tr>
    <td class="col-md-3">
      <strong>Marital:</strong>
    </td>
    <td class="col-md-3">
      <%= @employee.marital %>
    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
</table>

<h2> Import Employee Timesheet</h2>
<%= form_tag import_employees_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :id, @employee.id%>
  <%= submit_tag "Import" %>
<% end %>
