<div class="col-md-3 sidebar">
  <div class="profile_tab">
      <%= image_tag(current_user.avatar.url)%>

     <%= form_tag "#", html: { :multipart => true }, :class=>"upload_profile" do %>
      <%= file_field_tag :avatar, :id=>"pictureInput"%>
      <% end %>
  </div>
  <h3>Welcome to Hr Management System</h3>
  <p>
    This system is designed for small scale company to
    manage Employees details, performance, payroll, leave management,
    new applicants.
  </br>
  for more documentaiton visit xyz.com
  </p>

</div>
<div class="col-md-9">
      <h1 class="text-center large-heading">Find a Employee.</h1>
      <%= form_tag(employees_search_path, method: "get") do %>
        <%= search_field_tag :keywords, params[:keywords], :placeholder => "Employee Name, Employee Id, Designation" %>
      <% end %>
</div>
