<!DOCTYPE html>
<html>
  <head>
    <title>HRManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="">

    <div class="text-center">
      <h1>HrLookUp</h1>
    </div>

    <% if user_signed_in? %>
      <%= render 'layouts/share/header'%>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render 'layouts/share/footer'%>

  </body>
</html>
