<!DOCTYPE html>
<html>
  <head>
    <title>HRManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="text-center">
      <h1>HrLookUp</h1>
    </div>

    <% if user_signed_in? %>
      <%= render 'layouts/share/header'%>
    <% end %>



    <% if user_signed_in? %>
	   <% if current_user.has_role "hr" %>
	    <h1>User as Hr</h1>
	   <% else %>
	    <h1>User as Admin</h1>
	   <% end %>
	  <% end %>

    <%= yield %>

    <%= render 'layouts/share/footer'%>

  </body>
</html>
